/* Font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Karla:wght@700&family=Rubik+Glitch&display=swap');

/* Document setup */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.page--background {
    background-color: rgba(185, 185, 185, 0.979);
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bold {
    font-weight: bold;
}

/* Main container */
.app--main__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    width: 400px;
    background-color: rgb(229, 229, 229);
    color: rgb(0, 0, 0);
    border-radius: 10px;
}

/* Info (Nav) container & children */
.info--container {
    text-align: center;
    position: relative;
}

.info--theme__icon {
    text-decoration: none;
    margin: 0 2px;
    color: rgb(255, 255, 255);
    padding: 5px 5px 0px 5px;
    background-color: rgb(0, 0, 0);
    border-radius: 20px;
    border: 1px solid rgb(255, 255, 255);
    position: absolute;
    left: 365px;
    top: 5px;
    opacity: 0.8;
}

.info--code__link {
    text-decoration: none;
    margin: 0 2px;
    color: rgb(0, 0, 0);
    padding: 5px 5px 0px 5px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    border: 1px solid rgb(0, 0, 0);
    position: absolute;
    left: 365px;
    top: 35px;
    opacity: 0.5;
}

.info--picture {
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    position: relative;
}

.info--container > h1 {
    padding-top: 20px;
    padding-bottom: 5px;
    margin: 0;
    font-size: 35px;
}

.info--container > h4 {
    padding: 0px;
    padding-bottom: 15px;
    margin: 0;
    font-weight: lighter;
    color: rgb(149, 45, 247);
}

.info--linkedin__link {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 135px;
    height: 40px;
    margin: 0px 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    cursor: pointer;
}

.info--email__link, 
.info--whatsapp__link,
.info--phone {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin: 0px 15px;
    margin-bottom: 15px;
    border-radius: 50px;
    cursor: pointer;
}

.info--email__link {
    background-color: rgb(229, 9, 20);
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.info--linkedin__link {
    background-color: rgb(13, 79, 181);
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.info--whatsapp__link {
    background-color: rgb(7, 94, 84);
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.info--phone {
    background-color: rgb(127, 186, 0);
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.info--email__link > span, 
.info--linkedin__link > span,
.info--whatsapp__link > span,
.info--phone > span {
    display: inline-flex;
    align-items: center;
    padding: 0 5px;
}

.info--container > a:hover {
    opacity: 0.8;
}

/* Main container (About & Interests) */
.main--container {
    padding: 0px 40px;
}

.main--title {
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
}

.main--text {
    font-size: small;
    line-height: 1.5;
    margin-top: 0px;
    margin-bottom: 10px;
}

.main--images {
    display: flex;
    justify-content: center;
    margin: 0;
}

.main--images > img {
    width: 50px;
    border-radius: 30px;
    margin: 0px 10px 10px 10px;
}

.main--prompt__text {
    font-size: 11px;
    opacity: 0.5;
    text-align: center;
}

/* Footer container & children */
.footer--container {
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(238, 238, 238);
    padding: 20px 0px;
    border-radius: 0px 0px 10px 10px;
} 

.footer--container > a:hover {
    opacity: 0.8;
}

/* Dark Mode */
.dark.page--background {
    background-color: rgba(70, 70, 70, 0.979);
}

.dark .app--main__container {
    background-color: rgb(26, 26, 26);
    border-radius: 10px;
}

.dark .info--theme__icon {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0);
}

.dark .info--container > h1 {
    color: rgb(255, 255, 255);
}

.dark .info--container > h4 {
    color: rgb(208, 171, 241);
}

.dark .main--title {
    color: rgb(255, 255, 255);
}

.dark .main--text {
    color: rgb(255, 255, 255);
}

.dark .main--prompt__text {
    color: rgb(233, 233, 233);
}

.dark .footer--container {
    background-color: rgb(17, 17, 17);
}

@media only screen and (max-width: 600px) {
    .app--main__container {
        width: 95%;
        max-width: 500px;
        margin: 0 auto;
    }

    .info--theme__icon {
        left: calc(100% - 35px);
        position: absolute;
    }

    .info--code__link {
        left: calc(100% - 35px);
        position: absolute;
    }

    .info--container > h4 {
        font-size: 15px;
    }
}

@media only screen and (max-width: 425px) {
    .app--main__container {
        width: 95%;
        max-width: 400px;
    }

    .info--theme__icon {
        left: calc(100% - 35px);
        position: absolute;
    }

    .info--code__link {
        left: calc(100% - 35px);
        position: absolute;
    }
}

@media only screen and (max-width: 375px) {
    .app--main__container {
        width: 95%;
        max-width: 350px;
        margin: 0 auto;
    }

    .info--theme__icon {
        left: calc(100% - 35px);
        position: absolute;
    }

    .info--code__link {
        left: calc(100% - 35px);
        position: absolute;
    }
}
